asttokens==3.0.0
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.3.2
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.2.1
dill==0.4.0
dotenv==0.9.9
edgeofpy==0.0.1
-e git+ssh://git@github.com/SoenkevL/EEGAnalyzer-SciCo.git@f02f590c468a0523e16adfd4df562f492f265995#egg=eeganalyzer_scico
executing==2.2.0
fonttools==4.58.4
h5py==3.14.0
idna==3.10
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.8
lazy_loader==0.4
MarkupSafe==3.0.2
mat4py==0.6.0
matplotlib==3.10.3
mne==1.10.0
mne-qt-browser==0.6.3
mpmath==1.3.0
multiprocess==0.70.11.1
multiprocesspandas==1.1.5
neurokit2==0.2.10
numpy==2.2.6
packaging==25.0
pandas==2.2.3
parallel-pandas==0.7
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
powerlaw==1.5
psutil==7.0.0
Pygments==2.19.2
pymatreader==1.1.0
PyOpenGL==3.1.9
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
QDarkStyle==3.2.3
QtPy==2.4.3
requests==2.32.4
scikit-learn==1.7.0
scipy==1.14.1
scooby==0.10.1
seaborn==0.13.2
six==1.17.0
SQLAlchemy==2.0.41
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
xmltodict==0.14.2
