# Core EEG Analysis
mne==1.8.0
numpy>=1.26.4
pandas==2.2.3
scipy==1.14.1
neurokit2==0.2.10

# GUI Components
PyQt6==6.7.1
customtkinter==5.2.2
mne-qt-browser==0.6.3

# Plotting
matplotlib==3.9.2

# Configuration & Data Handling
PyYAML==6.0.2
mat4py==0.6.0

# Database
SQLAlchemy>=2.0.40

# Additional Analysis Tools
powerlaw==1.5
edgeofpy==0.0.1

# Development/Debugging
icecream==2.1.3

# Multi-processing Enhancement
multiprocesspandas==1.1.5